* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  font-size: $font-base-size * 0.875;
  background-color: $body-bg;
}

a {
  text-decoration: none;
}

img {
  border: none;
  max-width: 100%;
}

.el-main {
  --el-main-padding: 1.5rem;
}

input,
button,
textarea,
select {
  font-family: $font-base;
}
